extends /layouts/main

block main
  .my-4.py-8.bg-grey-lightest.shadow-inner
    +container()
      each project in projects
        h3.text-3xl.font-bold.my-16.text-center= project.title
        div(class="md:px-2")
          .flex.flex-wrap.justify-center(class="md:-mx-2")
            each image in project.photos
              .w-full.p-2(class="md:w-1/4")
                a(href=site.urlFor(image).url())
                  img.max-w-full(
                    src=site.urlFor(image).width(480).sharpen(30).url()
                    alt=(image.title || '')
                  )

  .my-4.py-8.bg-blue-darkest.text-white.shadow-inner
    +container()
      include /home/about

  //- .my-4.bg-blue-darkest.text-white
    +container()
      .py-8
        h1.text-4xl.leading-tight.font-light.text-center Get My Hands Dirty

  //- +container()
    .my-4.text-center.max-w-sm.mx-auto
      p.my-12.text-xl.leading-normal Whether you are interested in a brand new home, or just remodeling or adding onto your existing home, Custom Homes of Asheville, Inc. can provide the services you need, the quality you desire, and the honesty and integrity you deserve.
      p.my-16.text-4xl.font-bold
        a.no-underline(href=`tel:${company.phone}`) #{ company.phone }
      p.my-8.text-sm
        a(
          target="_blank"
          href=company.socials.facebook
        ) Find us on Facebook
